.gradient-custom {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#051f30, #000000);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(#051f30, #000000);
     
    height: 200vh;
    }
    
